@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  
  width: 100vw;
  background: no-repeat;
  background-repeat: no-repeat;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(18, 28, 53, 1)
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
}

.gradient1{
  position: absolute;
 top: 0;
}

.gradient2{
  position: absolute;
  top: 0;
  left: 800px;
}


.textgrad{
  background: linear-gradient(180deg, #7E83FA 33.93%, #1800b1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


@media screen and (max-width: 760px) {
  


  .gradient2{
   display: none;
  }
  
}